@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

/* Header and Navigation Styles */
header {
    background-color: #007bff;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: relative;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ffcc00;
    transition: width .3s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

/* Logo Styles */
.logo img {
    width: 120px;
    border-radius: 50%;
}

/* Hero Image Styles */
.hero-image {
    background-image: linear-gradient(rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), url('bus.jpeg');
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Main Content Styles */
.container {
    max-width: 80%;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.welcome-text {
    text-align: center;
    padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
}
